@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

body{
    background-color: #263238;
}

.hidden{
    display: none;
}

.hidden_2{
    display: none;
}